{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h5>History</h5>
    <form action = "/deleteentry" method = "post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Amount</th>
                    <th>Transacted</th> 
                    <th>Note</th>
                    <th>Delete</th>
                </tr>    
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{transaction["debit"]}}</td>
                    <td>{{transaction["credit"]}}</td>
                    <td id="amount">{{transaction["amount"]}}</td>
                    <td>{{transaction["transacted"]}}</td>
                    <td>{{transaction["note"]}}</td>
                    <td>
                        <button name = "delete" value = "{{transaction["id"]}}" type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <div>
        <a class="nav-link" href="/history_share">To See Shared Account Message?</a>
    </div>
{% endblock %}