{% extends "layout.html" %}

{% block title %}
    My Accounts
{% endblock %}

{% block main %}
    <!--資產負債表-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for A_balance in A_balances %}
            <tr>
                <td>{{A_balance["type"]}}</td>
                <td>{{A_balance["name"]}}</td>
                <td>{{A_balance["amount"]}}</td>
            </tr>
            {% endfor %}
            {% for L_balance in L_balances %}
            <tr>
                <td>{{L_balance["type"]}}</td>
                <td>{{L_balance["name"]}}</td>
                <td>{{L_balance["amount"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--總結-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="4"></th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4"><em>BALANCE</em></td>
                <td>{{balance}}</td>
            </tr>
            <tr>
                <td colspan="4"><em>PROFIT(LOSS)</em></td>
                <td>{{profit}}</td>
            </tr>
        </tbody>
    </table>
    <!--收入表-->
    <!--支出表-->

{% endblock %}