{% extends "layout.html" %}

{% block title %}
    Bar Chart
{% endblock %}

{% block main %}
      <canvas id="chart" width="600" height="400"></canvas>
      <script>
        // bar chart data
        var barData = {
          labels : [
            {% for label in labels %}
             "{{ label["name"] }}",
            {% endfor %}
      ],
  
          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data : [
             {% for label in labels %}
                 "{{ label["amount"] }}",
                {% endfor %}
          ]
            }
          ]
        }
  
       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");
  
         steps = 10
         max = {{maxs}}
  
       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );
  
      </script>

{% endblock %}