{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Account Name</th>
                <th>Amount</th>
                <th>Note</th> 
            </tr>    
        </thead>
        <tbody>
            <tr>
                <td>{{accountbalance['type']}}</td>
                <td>{{accountbalance['name']}}</td>
                <td>{{accountbalance['amount']}}</td>
                <td>{{accountbalance['note']}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}