{% extends "layout.html" %}

{% block title %}
    Balance
{% endblock %}

{% block main %}
    <h5>Check Out The Balance</h5>
    <form action="/balance" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" type="text">
            <input autocomplete="off" autofocus class="form-control" name="date" type="date" value="2022-01-01">
        </div>
        <button class="btn btn-primary" type="submit">Check Balance</button>
    </form>
    <br></br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Account Name</th>
                <th>Amount</th>
                <th>Note</th> 
            </tr>    
        </thead>
        <tbody>
            <tr>
                <td>{{accountbalance['type']}}</td>
                <td>{{accountbalance['name']}}</td>
                <td id="amount">{{accountbalance['amount']}}</td>
                <td>{{accountbalance['note']}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}