{% extends "layout.html" %}

{% block title %}
    Add A New Friend
{% endblock %}

{% block main %}
    <h5>Add A New Friend</h5>
    <form action = "/friend" method = "post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Friend Name" type="text">
        </div>
            <button class="btn btn-primary" type="submit">Add A New Friend</button>
    </form>
    <br></br>
    <hr class="style-one-line" />
    <br></br>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>    
            </thead>
            <tbody>
                {% for acceptfriend in acceptfriends %}
                <tr>
                    <td>{{acceptfriend['username']}}</td>
                    <form action = "/deletefriend" method = "post">
                    <td>
                        <button name = "share" value = "{{acceptfriend['username']}}" type="submit" class="btn btn-info btn-sm">Share An Account</button></a>
                        <button name = "delete" value = "{{acceptfriend}}" type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br></br>
    <h5 class="navbar navbar-expand-md navbar-light">WHO INVITE YOU</h5>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Do You Know ...</th>
                    <th>Accept or Reject ?</th>
                </tr>    
            </thead>
            <tbody>
                {% for friendrequest in friendrequests %}
                <tr>
                    <form action = "/acceptornot" method="post">
                        <td>{{friendrequest["username"]}}</td>
                        <td>
                            <button name = "accept" value = "{{friendrequest['username']}}" type="submit" class="btn btn-success btn-sm">ACCEPT</button>
                            <button name = "reject" value = "{{friendrequest['username']}}" type="submit" class="btn btn-secondary btn-sm">REJECT</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br></br>
        <h5 class="navbar navbar-expand-md navbar-light">WHO ARE INVITED BY YOU</h5>
        <form action = "/deletefriend" method = "post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Waiting...</th>
                </tr>    
            </thead>
            <tbody>
                {% for requestfriend in requestfriends %}
                <tr>
                    <td>{{requestfriend['username']}}</td>
                    <td>
                        <button name = "delete" value = "{{requestfriend}}" type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}
